<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" xml:lang="{S_USER_LANG}">
<head>

<meta http-equiv="content-type" content="text/html; charset={S_CONTENT_ENCODING}" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-language" content="{S_USER_LANG}" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="resource-type" content="document" />
<meta name="distribution" content="global" />
<meta name="copyright" content="2000, 2002, 2005, 2007 phpBB Group" />
<meta name="keywords" content="" />
<meta name="description" content="" />
{META}
<title>{SITENAME} &bull; {PAGE_TITLE}</title>
<link href="{T_ADM_PATH}/admin.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body id="errorpage">
<div id="wrap" style="margin-left:auto; margin-right:auto; width: 70%">
   <div id="page-header">
   </div>
   <div id="page-body">
      <div id="acp">
      <div class="panel">
         <span class="corners-top"><span></span></span>
         <div id="content">
            <h1>{L_INFORMATION}</h1>
            <h2>{DISABLE}</strong></h2>
            <br />
            <p>{MESSAGE}</p>
         </div>
         <span class="corners-bottom"><span></span></span>
      </div>
      </div>
   </div>
   <div id="page-footer">
      Powered by phpBB &copy; 2000, 2002, 2005, 2007 <a href="http://www.phpbb.com/">phpBB Group</a><br />
	  <br /><strong><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></strong>
   </div>
</div>
</body>
</html>